@tailwind base;
@tailwind components;
@tailwind utilities; 


html,body {
  padding: 0;
  margin: 0;
  height: 100%;
	width: 100%;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

 /* I made these changes in nprogress.css */
#nprogress .bar {
  height: 3px;
}
#nprogress .spinner-icon {
  width: 25px;
  height: 25px;
  border: solid 3px transparent;
}

.inline-code {
  padding: 2px 4px;
  font-family: 'Courier New', monospace;
  border-radius: 3px;
  background-color: #455575;
  color: white; 
  font-weight: 600;
  margin-left: 3px;
  margin-right: 3px;
}

.code-block {
  display: block;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Courier New', monospace;
  /* dark background */
  background-color: #455575;
  font-weight: 600;
  overflow-x: scroll;
  /* if text extends bring to new line */
}